<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSection" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <superSection xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--
    <assembly name="DemoUnityIoc, 1.0.0.0" />
    -->
    <aliases>
      <add alias="IRobot" type="DemoUnityIoc.IRobot,DemoUnityIoc" />
      <add alias="AxRobot" type="DemoUnityIoc.AxRobot,DemoUnityIoc" />
      <add alias="BxRobot" type="DemoUnityIoc.BxRobot,DemoUnityIoc" />
    </aliases>    
    <container name="superContainer">
      <type type="IRobot" mapTo="BxRobot">
        <!--
        <lifetime type="singleton" />
        -->
      </type>
    </container>
  </superSection>
</configuration>